<div class="row" style="border: solid 1px white;">
	<div class="span2">
		<b> <%= todo.name %> </b>
	</div>
	<div class="span2">
		Created by: <b><%= todo.user.username %></b>
	</div>
	<div class="span2">
		Priority: <b><%= todo.priority %></b>
	</div>
	<div class="span1">
		<label class="checkbox">
			<%= check_box_tag("finished", todo.finished?, todo.finished?, onclick: "todoDone(#{todo.id}, #{todo.finished?})")%> Finished
		</label>
	</div>
	<%if todo.user.id == current_user.id || current_user.admin.to_s == 'true'%>
		<%= render partial: "options", locals: {todo1: todo}%>
	<%end%>
</div>
